<section class="py-40 px-25 text-black grid lg:grid-cols-2 md:grid-cols-1 gap-10 lg:w-full xl:w-4/5 justify-self-center items-center">
  <div class="content-center justify-items-center">
    <div class="rounded-full bg-black/50 shadow-image h-80 max-h-full w-auto aspect-square"></div>
  </div>
  <div class="">
    <h2 class="text-2xl font-mono pb-4">Why am I doing this?</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. In finibus lorem
      nulla, sed viverra tortor rhoncus sit amet. Donec ac fringilla lorem. Sed
      maximus lacus non ornare imperdiet. 
    </p>
    <p>
      Duis vel tempus purus. Integer quam metus, congue at urna a, semper
      blandit eros. Nunc ut diam condimentum, gravida ex a, molestie velit.
      Aenean scelerisque nec augue at scelerisque. Nam imperdiet ex et placerat
      semper. Proin ultrices eget neque non tempus. Class aptent taciti sociosqu
      ad litora torquent per conubia nostra, per inceptos himenaeos. Sed ut leo
      enim. Maecenas sit amet nisl feugiat nisi viverra scelerisque.
    </p>
  </div>
</section>
