---
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/agriculture-carrot-svgrepo-com.svg" />
    <link rel="icon" href="/agriculture-carrot-svgrepo-com.ico" />
    <script src="https://code.iconify.design/iconify-icon/2.1.0/iconify-icon.min.js"></script>
    <meta name="generator" content={Astro.generator} />
    <title>Lisa's Portfolio</title>
  </head>
  <body class="min-h-dvh">
    <header class="absolute top-4 right-4 text-right p-10 z-50 text-white font-mono font-light uppercase text-lg">
      <a href="/" class="hover:underline px-1">Home</a>
      <a href="/about" class="hover:underline px-1">About</a>
      <a href="/projects" class="hover:underline px-1">Projects</a>
      <a href="/blog" class="hover:underline px-1">Blog</a>
      <a href="/contact" class="hover:underline px-1">Contact</a>
    </header>
    <main class="bg-white"><slot /></main>
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
